.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    justify-content: space-between;
    padding: 120px 100px;
}

.product-summary {
    background-color: rgba(255, 153, 0, 0.3);
}