.summary-container{
    padding-left: 2rem;
    position: sticky;
    top: 0;
}

.remove-all-items{
    font-size: 1em;
    font-weight: 700;
    padding: 1em 1.5em;
    background-color: rgb(255, 0, 68);
    border-radius: .5em;
    border: none;
}

.remove-all-items span{
    padding-right: 10px;
}

.remove-all-items:hover{
    background-color: orangered;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart-number{
    font-size: 30px;
}
