.header {
    display: flex;
    background-color: #1C2B35;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 150px;
}

.active__link {
    background-color: blueviolet;
    font-weight: 800;
    padding: 10px 16px;
    border-radius: 6px;
    color: #1C2B35 !important;
    font-size: 1.2em !important;
    text-decoration: underline !important;
    text-decoration-color: white !important;
}

.menu a {
    text-decoration: none;
    color: white;
    margin-left: 32px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 1em;
}

