.credential-form form>label,
input,
button {
    display: block;
    margin: 0 auto;
}

.credential-container .credential-form {
    margin: 8rem auto;
}

.credential-form {
    max-width: 31.25rem;
    border: 1px solid black;
    border-radius: .5rem;
    box-shadow:  -0.5rem -0.5rem rgba(255, 153, 0, 0.3);
}

.credential-form h2 {
    text-align: center;
    color: rgba(42, 65, 79, 1);
    font-weight: 400;
    font-size: 35px;
}

.credential-form p {
    text-align: center;
    margin-bottom: 3rem;
}
.credential-form p a{
    color: rgba(255, 153, 0, 1);
    text-decoration: none;
}

.credential-form form>label {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
    padding-left: 2.5rem;
}

.credential-form form>input {
    width: 85%;
    height: 55px;
    border-radius: 5px;
    border: 1px solid rgba(42, 65, 79, 1);;
    margin-bottom: .75rem;
}

.credential-form form .last-input {
    margin-bottom: 44px;
}

.credential-form form>button {
    border: none;
    background-color: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    font-weight: 400;
    font-size: 21px;
    padding: 1rem 11rem;
}