.header {
    display: flex;
    background-color: #1C2B35;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    margin-left: 32px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 1rem;
}

.active__link {
    background-color: blueviolet;
    font-weight: 800;
    padding: 10px 16px;
    border-radius: 6px;
    color: #1C2B35;
    font-size: 1.2rem;
    text-decoration-thickness: 3px;
}

.credential-form form>label,
input,
button {
    display: block;
    margin: 0 auto;
}

.credential-container .credential-form {
    margin: 8rem auto;
}

.credential-form {
    max-width: 40.25rem;
    border: 1px solid black;
    border-radius: .5rem;
    box-shadow: -0.55rem -0.65rem rgba(255, 153, 0, 0.3);
}

.credential-form h2 {
    text-align: center;
    color: rgba(42, 65, 79, 1);
    font-weight: 400;
    font-size: 1rem;
}

.credential-form p {
    text-align: center;
    margin-bottom: 3rem;
}

.credential-form p a {
    color: rgba(255, 153, 0, 1);
    text-decoration: none;
}

.credential-form form>label {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 2.5rem;
}

.credential-form form>input {
    width: 85%;
    height: 55px;
    border-radius: 5px;
    border: 1px solid rgba(42, 65, 79, 1);
    ;
    margin-bottom: .75rem;
}

.credential-form form .last-input {
    margin-bottom: 44px;
}

.credential-form form>button {
    border: none;
    background-color: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 1rem 11rem;
}

.product-card {
    position: relative;
    height: 520px;
    width: 300px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}

.product-card .product-img {
    height: 286px;
    width: 286px;
    border-radius: 8px;
    margin: 0 7px;
    margin-top: 10px;
}

.product-info {
    padding-left: 30px;
    position: absolute;
    top: 285px;
}

.rating {
    position: absolute;
    bottom: 3em;
    margin-left: 30px;
}

.small-text {
    line-height: 5px;
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
}

.product-price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 10px;
}

.add-to-cart {
    background-color: rgba(255, 153, 0, 0.3);
    width: 100%;
    border: none;
    border-top: 1px solid #95A0A7;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart:hover {
    background-color: orange;
}

.add-to-cart p {
    margin-right: 10px;
}

.product-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.order-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    width: 70%;
    background-color: rgba(154, 150, 150, 0.073);
    border: 1px solid #95A0A7;
    border-radius: 0.5em;
    margin: 1.31em auto;

}

.order-details {
    display: flex;
}

.order-card img {
    width: 20%;
}

.order-card-info {
    margin-left: 2em;
}

.remove-product-btn {
    font-size: 3rem;
    color: rgb(252, 77, 77);
    padding: 0.8em 1em;
    background-color: rgb(255, 164, 164);
    border-radius: 50%;
    transition: color .5s, background-color .5s, padding .5s;
}

.remove-product-btn:hover {
    color: rgb(255, 21, 21);
    background-color: rgb(255, 129, 129);
    padding: 0.65em .8em;
}

.high-lighted {
    color: rgb(244, 208, 0);
}

.shop {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 3em;
    gap: 1.5rem;
    justify-content: space-between;
}

.product-summary {
    background-color: rgba(255, 153, 0, 0.3);
}

.summary-container {
    padding-left: 2rem;
    position: sticky;
    top: 0;
    height: 100vh;
}

.remove-all-items {
    font-size: 1rem;
    font-weight: 700;
    padding: 1em 1.5em;
    background-color: rgb(255, 0, 68);
    border-radius: .5em;
    border: none;
    margin-right: 10px;
    text-decoration: none;
}

.remove-all-items span {
    padding-right: 10px;
}

.remove-all-items:hover {
    background-color: orangered;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart-number {
    font-size: 2rem;
}


@media (min-width: 555px) {
    .shop {
        grid-template-columns: 5fr 1fr;
    }

    .product-container {
        grid-template-columns: repeat(4, 1fr);
    }
}